@page
@model Vishwadhwaj_Razor.Pages.Categories.EditModel


<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="category.Id" hidden />
    <div class="mb-3">
        <label asp-for="category.name"></label>
        <input asp-for="category.name" class="form-control" />
        <span asp-validation-for="category.name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="category.DisplayOrder"></label>
        <input asp-for="category.DisplayOrder" class="form-control" />
        <span asp-validation-for="category.DisplayOrder" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-6">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
        <div class="col-6">
            <a asp-page="/categories/index" class="btn btn-secondary">back to list</a>
        </div>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
