@page
@model Vishwadhwaj_Razor.Pages.Categories.IndexModel
@{
}


<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Category
            </h2>
        </div>
        <div class="col-6 text-end"> 
            <a  asp-page="/categories/create" class="btn btn-primary">Create New category</a>
        </div>
    </div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Display Order
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.categories.OrderBy(u=>u.name))
        {
            <tr>
                <td>
                    @obj.name
                </td>
                <td>
                    @obj.DisplayOrder
                </td>
                <td>
                    <a asp-page="/categories/delete" asp-route-id="@obj.Id" class="btn btn-primary">Delete</a>
                </td>
                <td>
                    <a asp-page="/categories/edit" asp-route-id="@obj.Id" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>

</table>
</div>